@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Outfit';
  background-color: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  background-color: white;
  height: 38.5rem ;
  width: 24rem; 
  display: flex;
  flex-direction: column;
  border-radius: 25px;
}

.container2 img {
  width: 100%;
  padding: 15px;
  border-radius: 30px;
}

.container3 {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container3 h2 {
  padding-top: 1rem;
  max-width: 78%;
  display: flex;
  color: hsl(218, 44%, 22%);
}

.container3 p {
  font-weight: 500;
  letter-spacing: 0.2px;
  font-size: 1.1rem;
  max-width: 75%;
  color:hsl(220, 15%, 55%);
  padding-top: 1.5rem;
}

footer {
  position: absolute;
  bottom: 0;
  padding: 1rem 0;
}

@media (max-width: 470px) {

  .container {
    width: 80%;
    height: 70%;
  }

  .container2 img {
    width: 100%;
  }

  .container3 {
    text-align: center;
    margin-bottom: 1rem;
  }

  .container3 h2 {
    width: 112%;
  }

  .container3 p {
    width: 112%;
    font-size: 1rem;
    padding-bottom: 1rem;
  }

  .container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
